/*#9ed909*/
.jumbotron {
  background-color: #9ed909;
  color: black;
  margin-top: 50px;
  margin-bottom: 0p; }

.container {
  width: 80%; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #9ed909;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

/*.navbar-toggler-icon{
    background-color: grey;
}*/
.active {
  font-weight: bolder; }

.nav-link {
  color: #737373; }

.footer-icons {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.accordion {
  color: #737373;
  text-align: center; }

.carou {
  height: 400px; }
