$yellow: #9ed909;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
/*#9ed909*/

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0p)
}
.container{
    width: 80%;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 200px;
    padding: 0;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
/*.navbar-toggler-icon{
    background-color: grey;
}*/
.active{
    font-weight: bolder;
}
.nav-link{
    color: #737373;
}
.footer-icons{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
.accordion{
    color: #737373;
    text-align: center;
}
.carou{
    height: 400px;
}
