@yellow: #9ed909;
/*#9ed909*/

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
  }
  
  .container {
    width: 80%;
  }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
  }
  
  .card-hotel {
    flex: 1 200px;
    padding: 0;
    .margenes(10px, 0px);
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
  }
  
  /*.navbar-toggler-icon{
      background-color: grey;
  }*/
  .active {
    font-weight: bolder;
  }
  
  .nav-link {
    color: #737373;
  }
  
  .footer-icons {
    padding-right: 10px;
  }
  
  .tab-content {
    padding-top: 10px;
  }
  
  .accordion {
    color: #737373;
    text-align: center;
  }
  
  .carou {
    height: 400px;
  }
  
  /*# sourceMappingURL=main.css.map */
  